ul.cards {
    padding-inline-start: 0px;
    list-style-type: none;
    margin: 10px 0;
    height: 25px;
}

.card-icon {
    display: block;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 25px;
    text-indent: -9999px;
    margin-right: 4px;
    opacity: 0.3;
    transition: opacity 0.3s ease;
}

.card-icon.active {
    opacity: 1;
}

.card-icon[data-system="Visa"] {
    background-image: url(./img/card-visa.png);
}

.card-icon[data-system="MasterCard"] {
    background-image: url(./img/card-master.png);
}

.card-icon[data-system="American Express"] {
    background-image: url(./img/card-amex.jpeg);   
}

.card-icon[data-system="Discover"] {
    background-image: url(./img/card-discover.png);
}

.card-icon[data-system="JCB"] {
    background-image: url(./img/card-jcb.png);
}

.card-icon[data-system="Diners Club"] {
    background-image: url(./img/card-dinersclub.png);
}

.card-icon[data-system="Mir"] {
    background-image: url(./img/card-mir.png);
}
